# Android generated
*.apk
*.aab
*.ap_
*.dex
bin/
gen/
out/

# Gradle
.gradle/
build/
local.properties

# IntelliJ / Android Studio
*.iml
.idea/
*.iws
*.ipr
captures/
.externalNativeBuild/
.cxx/

# Keystore
*.jks
*.keystore

# OS
.DS_Store
Thumbs.db
